/* Definindo um layout básico para o contêiner */
.container {
  width: 90%;
  max-width: 1200px;  /* Limita a largura máxima */
  margin: 0 auto; /* Centraliza o contêiner */
  padding: 20px;
}

/* Definindo o estilo básico para a tipografia */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  color: #333;
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3367d6;
}

button:focus {
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

a {
  color: #4285f4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Adicionando responsividade com media queries */

/* Para telas pequenas (móveis) */
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
  }

  li {
    font-size: 14px;
    padding: 12px;
  }

  /* Ajuste nas listas de arquivos */
  #fileList {
    padding-left: 0;
  }

  input[type="text"], input[type="password"], #fileInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
}

/* Para telas médias (tablets) */
@media (max-width: 1024px) {
  .container {
    width: 95%;
  }

  button {
    width: 80%;
    padding: 15px;
    font-size: 18px;
  }

  li {
    font-size: 16px;
    padding: 12px;
  }
}

/* Para telas grandes (desktop) */
@media (min-width: 1025px) {
  .container {
    width: 70%;
  }

  button {
    width: auto;
    padding: 15px 30px;
  }

  li {
    font-size: 18px;
    padding: 15px;
  }
}
